.Opening{
    background-color: beige;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-name{
    font-size: 5rem;
}

.experience-info{
    background-color: beige;
}